[2019-09-26 21:17] redouane-dziri opened #1 "Step 1: Dataset Generation"
Opening this to keep track of what data we fetch, how we fetch it and how we label.

**Crypto**

Cryptographic competitions from which we can fetch some code:

- [Advanced Encryption Standard Process](https://en.wikipedia.org/wiki/Advanced_Encryption_Standard_process)
- [ESTREAM](https://en.wikipedia.org/wiki/ESTREAM)
- [NIST_hash_function](https://en.wikipedia.org/wiki/NIST_hash_function_competit

[2019-09-26 21:25] corentinllorca opened #2 "Step 2: Feature Extraction"
This discussion will contain the list of features that we'll extract from the data.

**Base features (keyword matching)**:

- Keyword search in the variable names and the comments (wind-river code has a pretty complete list of keywords)

- Number of bitwise operations: Hadrien has already started that

**More advanced features**: look at https://arxiv.org/abs/1706.02769 (sourceforager)

[2019-09-26 21:34] corentinllorca opened #3 "(1) Extract cryptography files from the crypto libraries"
See #1

WARNING: there might be some false positives in there. Not every file in a crypto library implements crypto.
Either look "by hand" or make it go through Wind-River.

[2019-09-26 21:41] corentinllorca opened #4 "(1) Extract cryptography files from the crypto competitions"
See #1

[2019-09-26 21:41] corentinllorca opened #5 "(1) Extract non-cryptography files from CodeJam"
See #1

[2019-09-26 21:41] corentinllorca opened #6 "(1) Extract non-crypto files from outside source"
See #1

Need to think about where and what to get for additional non-crypto sources.

[2019-09-26 21:49] redouane-dziri opened #7 "(1) Run `crypto-detector` on the files and manually check labels"
See #1

If any matches (hits) using the tools, check manually if there is crypto code and re-label if needed

[2019-09-27 18:35] arnaudstiegler opened #8 "Github Code Search Challenge / Transfer Learning"
Github has recently launched (i.e. yesterday!) a [Code Search Challenge](https://github.blog/2019-09-26-introducing-the-codesearchnet-challenge/). This is tackling semantic code search which is slightly different than what we do: the aim is to retrieve functions that would correspond to a natural language query given by the user. [Here](https://github.blog/2018-09-18-towards-natural-language-seman

[2019-09-29 22:53] arthurherbout commented on #8
Looks very interesting!

Also getting a dataset of Github repos for free is quite nice.
I will try to get the dataset tonight (I have to fight Docker installation for the first time first :)).
I will keep you posted!

[2019-09-30 19:41] arthurherbout commented on #8
Well I didn't succeed in installing docker because of CUDA 10.1
Something strange about my config files ( i use ubuntu 18.04 ).
The docker part is easy, you guys could get in pretty easily.
It was pretty scary I though I might get black screen after rebooting since you are supposed to manage everything in Ubuntu...
I do not feel very good about trying it again today...
If we do not get it before t

[2019-09-30 21:31] arnaudstiegler commented on #8
@arthurherbout

The docker part is really just for running the existing pre-trained models for their own task (which is not ours) and submit to the competition. If the goal is just to get the dataset, I think you only have to run the download_dataset.py file (because that's ultimately what the docker does, and it's basic python).

And even for re-using their model, I think it might not be worth sp

[2019-10-01 15:20] corentinllorca commented on #6
A useful list of datasets can be found [here](https://github.com/src-d/datasets). Notably, there is a hand-labelled "code similarity" dataset, but it seems we're not going to go down that route. There is also an "identifiers" dataset that counts how many times a certain variable name appears in programming languages: for now, it isn't very useful, because we'd like to distinguish crypto code from

[2019-10-01 18:08] arthurherbout commented on #5
I started this task.
The dataset I got is quite big (16G) so we need to find a way of taking a subsample.

Issues with the dataset:
- It is divided into problems so there will be a lot of duplicates.
- all languages. We need to decide on which languages to keep. Only c, c++? What about .h files?

I am currently exploring the dataset to get a good feeling about it.

[2019-10-01 18:13] corentinllorca commented on #6
Another useful link [here](https://github.com/haoel/leetcode/tree/master/algorithms/cpp): those are solutions to leetcode problems in C++. This doesn't necessary increase the diversity of our dataset as most programs we have collected so far have been algorithmic problem-solving programs, but it's a good one to keep.

[2019-10-03 17:53] arnaudstiegler commented on #3
Here are the crypto folder for the main crypto libraries

Libgcrypt: there’s a folder containing all ciphers
https://github.com/gpg/libgcrypt/tree/master/cipher

OpenSSL: crypto folder
https://github.com/openssl/openssl/tree/master/crypto

LibSodium: the lib sodium folder contains a ton of crypto sub-folder
https://github.com/jedisct1/libsodium/tree/master/src/libsodium

NaCl: main folder contains

[2019-10-03 18:31] arnaudstiegler commented on #3
@corentinllorca,
As you said, there are quite a lot of undesired files in there (helpers, wrappers etc...). It is difficult to actually estimate the number of files that should be removed (depends a lot on the library). However, I see 2 issues with using WindRiver for that:
- Using Windriver to discard files prevents us from using WindRiver as a baseline for the performance of the detection
- Wind

[2019-10-03 19:18] redouane-dziri commented on #5
Let's get .c, .cpp, .h and .hpp if there are some! We decided on fetching 20 samples from each problems to get started. Hopefully there won't be too many duplicates and redundancies

[2019-10-03 19:23] redouane-dziri commented on #6
For the sake of conveniency, let's start by sampling some git repos and fetching all the C files from there. Let's shoot for ~5000 (we'll see how fast the fetching goes and adapt if needed)

[2019-10-03 20:04] redouane-dziri commented on #4
Extracted C code from the following:

CAESAR

- https://github.com/ascon/ascon_collection
- https://github.com/crocs-muni/CryptoStreams_CAESAR
- https://github.com/dkales/caesar-nonce-misuse
- https://github.com/SparkDustJoe/NorxManaged
- https://github.com/jasdheer/ICEPOLE-Cipher-Optimization
- https://github.com/SparkDustJoe/MorusManaged

SHA-3

- https://github.com/ajakubek/python-sha3
- https:

[2019-10-03 20:09] redouane-dziri commented on #1
We agreed on fetching individual files, as well as writing and running scripts to extract the content of the file and output one JSON file per type of source - fields are `file_name` and `file_content`. Will concatenate the JSONs (shuffle?) once they're created.

Regarding `filenames`, they will be prefixed by the following:
- from cryptocompetition: `crypto-competition_`
- from crypto libraries:

[2019-10-07 01:38] Hadrien-Cornier commented on #1
I have a cool script I would like to run as soon as you give me the files please !
It will look for a measure of software similarity using tokens (MOSS).

[2019-10-08 17:26] arnaudstiegler commented on #3
For certain packages, quite a lot of functions implemented using Assembly (so .S format) that had to be dropped.

A few random examples of files that are harder to classify:
- keys functions (for example, a file is said to be "Public Key abstraction layer" and contains functions for parsing keys, assigning them, etc...)
- .h files: to what extent should we consider them to be actual crypto???
- fi

[2019-10-08 18:38] redouane-dziri commented on #1
@Hadrien-Cornier Great! (let's continue this discussion in the Feature Extraction issue)

[2019-10-08 21:04] redouane-dziri commented on #4
See #9

[2019-10-08 21:11] redouane-dziri commented on #1
Let's shoot for this structure when adding our files to the repo:
[code]

[2019-10-08 21:15] redouane-dziri commented on #1
And `prefix_data.json` can be like:
[code]
where `x` is `1` for `prefix==crypto-*` and `0` for the rest

[2019-10-09 15:25] corentinllorca commented on #1
@redouane-dziri Are we sure we want to have .py scripts in our data folder? That folder is usually reserved for pure data

[2019-10-09 17:56] redouane-dziri commented on #1
No definite opinion on this on my end, as long as we all follow the same structure to avoid cleaning it up after :) I liked the idea of having the script to generate the `json` close to its output but by all means, if you really want to change that, suggest a new folder tree and I will adapt my PR consequently.

[2019-10-09 22:08] arthurherbout commented on #1
In a slightly different topic, be aware that different extensions count as c++ files.
According to stackoverflow,

GNU GCC recognises all of the following as C++ files, and will use C++ compilation regardless of whether you invoke it through gcc or g++: .C, .cc, .cpp, .CPP, .c++, .cp, or .cxx.

Note the .C - case matters in GCC, .c is a C file whereas .C is a C++ file (if you let the compiler deci

[2019-10-10 15:57] arnaudstiegler commented on #1
I think it would be better to have "file_path" as one of the field rather than the file name (because of duplicate names etc...)

[2019-10-10 16:04] arthurherbout commented on #1
In my understanding all file_names are prefixed right?
prefix appears twice, once in "data_source" and once in file_name.

Maybe I misunderstood

[2019-10-10 16:53] arnaudstiegler commented on #1
The most convenient way is to have the file_path as a field (and not the path name). And you don't really need the prefix within the json (will only be useful when concatenating each of our jsons) so for better readibility, I'd rather not have prefix

[2019-10-10 19:44] arnaudstiegler commented on #3
810 code files extracted

[2019-10-10 19:54] redouane-dziri commented on #1
Once we got all the jsons, we need to write a script to take those in and build the following json with all the data:
[code]

where `is_header` is `1` for (.h, .hh, .hpp, h++ files) and `0` for the others

[2019-10-10 19:55] redouane-dziri commented on #5
Merged and done

[2019-10-10 19:55] #5 closed, assigned to arthurherbout

[2019-10-10 19:55] redouane-dziri commented on #3
Merged and done

[2019-10-10 19:55] #3 closed, assigned to arnaudstiegler

[2019-10-10 19:56] redouane-dziri commented on #4
Merged and done

[2019-10-10 19:56] #4 closed, assigned to redouane-dziri

[2019-10-10 19:56] redouane-dziri commented on #7
We decided it would be better to keep WindRiver's implementation as a baseline to compare our tool to, so best not to use it upstream.

[2019-10-10 19:56] #7 closed, assigned to nobody

[2019-10-10 19:57] redouane-dziri commented on #1
(We decided it would be better to keep WindRiver's implementation as a baseline to compare our tool to, so best not to use it upstream, removing associated issue)

[2019-10-10 20:23] redouane-dziri commented on #2
**Feature engineering brainstorm**

- some count features (number of lines, number of function definition, number of loops, number of includes, number of bitwise operations, count of strings like `0xa753a6f5U`, count of large arrays (and other structures),  count of large numerical constants)

- BoW (in a a smart way (e.g. combining all m-digit numbers for all m, separating parentheses, hashtags a

[2019-10-10 21:11] #6 closed, assigned to arthurherbout, corentinllorca

[2019-10-10 21:24] Hadrien-Cornier commented on #2
- Run MOSS on all files
- Modify idf penalty with Gini/entropy coefficient
- merge tf idf and baseline models
- implement baseline distance based classifier with these simple features
- compare BoW and modified tf/idf
- Cross validate to calculate precision

[2019-10-10 22:17] redouane-dziri opened #14 "(2) Create a couple of high-level features and explore"
See #2

- [x] Code up some count features (number of lines, number of function definition, number of loops, number of includes, number of bitwise operations, count of strings like 0xa753a6f5U, count of large arrays (and other structures), count of large numerical constants) using regex
- [x] Explore the created features with regards to the class, type of file...
- [x] Pull out a simple model (e.g.

[2019-10-10 22:18] redouane-dziri opened #15 "(1) Merge JSONs into 1"
See #1

[2019-10-11 15:15] corentinllorca commented on #1
This has been done. The final JSON is enclosed in [] and not {}, because it makes more sense as a list than as a dictionary (since it has no keys). So the syntax is more like

[code]

[2019-10-14 19:12] arnaudstiegler opened #17 "(2) Use C tokenizer/compiler to extract code features"
See #2

- [x] Find compatible C code parser (that can be used with Python)
- [x] Extract entity counts to generate features
- [x] Explore feasibility of using AST as a feature (this is basically the next step a compiler would do, and it is based on the C tokens)

[2019-10-14 19:14] arnaudstiegler commented on #15
@corentinllorca , can we close the issue? I think you finished this right?

[2019-10-14 19:17] corentinllorca commented on #15
Yes, this is done and is pushed on master!

[2019-10-14 20:17] #15 closed, assigned to arthurherbout, corentinllorca

[2019-10-15 20:01] arnaudstiegler commented on #17
@arthurherbout , FYI I am experimenting with pycparser that seems to do the job

[2019-10-15 20:26] arnaudstiegler commented on #17
Good news is that it can process the AST for an entire file, and the AST is an absolute goldmine. However, we have to come up with ways to intelligently parse the information from the AST.

Side note: you need to remove the "docstring" at the top of the file to use the cparser.parse()

[2019-10-15 21:39] arnaudstiegler commented on #17
**Food for thought**

From [code2vec: Learning Distributed Representations of Code](https://arxiv.org/pdf/1803.09473.pdf),

abstract syntax tree (AST) as our representation. By representing a code snippet using its syntactic paths, we can capture regularities that reflect common code patterns. We find that this representation significantly lowers the learning effort (compared to learning over prog

[2019-10-16 18:30] arthurherbout opened #18 "repo subtitle"
As suggested by Arnaud, I added a subtitle.
automatic detection of custom cryptographic C code

Let me know if you have strong feelings about it.

[2019-10-16 22:53] arthurherbout commented on #17
I am going through that very interesting paper. It has pre-trained models.
However it's for java code.
I am looking to find whether there is an implementation for c code.
If pycparser does the job, we can use some ideas on that paper because all they use is AST if I'm not mistaken.
We do not need to go for attention mechanism right now but there must be some inspiration in that paper.

I'll contin

[2019-10-17 02:27] Hadrien-Cornier commented on #2
95% accuracy with xgboost on the simple features that we extracted. Accuracy obtained on 2150 files.

[2019-10-17 17:34] arnaudstiegler commented on #18
Thanks for that!
Some capital letters would have been great :p

[2019-10-17 17:57] arthurherbout commented on #18
haha done

[2019-10-17 18:36] arthurherbout commented on #17
src-d code2vec is a good repo on the same topic

[2019-10-17 19:20] arnaudstiegler commented on #17
Actually, it is not that much because it runs on pyspark (which is a total overkill for 10k files), and they didn't finish it at all.
I found something else that I think is better: https://github.com/vovak/astminer

[2019-10-17 19:33] arnaudstiegler commented on #17
So I tried this package, it works (kinda) but it uses Gradle, so it is a black box, and it is difficult to reuse because the result is quite complex. Not sure it is feasible in this amount of time

[2019-10-17 20:27] redouane-dziri commented on #1
I modified some of the data collection code to be able to run it, please make sure you don't include your absolute paths in the script, we should all be able to run scripts at the push of a button.
Also relative paths are not good enough as they assume we are in a given working directory, which turned out not to be the case when I ran some scripts for example. A decent solution is using `git_root`

[2019-10-17 21:07] redouane-dziri commented on #1
Added script to split in `train`/`test` as well as the json produced in `data`. I stratified the split by data source and chose a 15% proportion of test files.
We shouldn't do anything with the test files from now on until some advanced evaluation of our models, so please only work with `train` when you start building models.
If someone has something to add on dataset generation, or any of the pre

[2019-10-17 22:14] arnaudstiegler commented on #17
I found a list of interesting embeddings:
- [https://github.com/bdqnghi/ast-node-encoding](https://github.com/bdqnghi/ast-node-encoding)
- [https://github.com/dazcona/user2code2vec](https://github.com/dazcona/user2code2vec)

But none of them are for C code, and a lot of efforts is needed to reuse them....

[2019-10-19 19:57] redouane-dziri commented on #14
**Update on our progress**

*working on branch issue-14*

We coded up some *approximate* count features using pattern matching:
- number of lines
- number of `int` declaration
- number of `long` declaration
- number of loops (`while` + `for`)
- number of file imports
- number of bit-wise operations (left/right shift, and, or, xor, complement)
- number of hexadecimal numbers

To reduce noise (patte

[2019-10-19 22:15] arnaudstiegler commented on #17
Because those AST techniques are not feasible in terms of time, I went for a very straightforward text-based approach: NLP approach by interpreting the code as plain text.

The pipeline is very straight-forward:
- tokenizing the code: for now, we use the vanilla tokenizer from Keras (will be changed to a C tokenizer in the future, aside: pycparser is computing the AST but you can't access to the t

[2019-10-20 00:57] Hadrien-Cornier opened #20 "(2) XGBoost Model (Google Cloud VM)"
I setup a first machine on debian 9 with 24 CPUs to do a [little parameter tuning on xgboost ](https://www.analyticsvidhya.com/blog/2016/03/complete-guide-parameter-tuning-xgboost-with-codes-python/), and got a pretty significant increase in positive's recall score from 66 to ~85% .

Then I wanted to use some GPUs and had to create another VM with an OS that supported CUDA and parallel usage of GP

[2019-10-20 01:00] Hadrien-Cornier commented on #20
For now the goal is to optimize the current model (it's never a waste to finetune the current imperfect model as it will always be available to boost by aggregation another potentially more powerful model), and then use the false negatives (in our problem false negatives are way worse than false positives since they could lead to security issues) to look for new easy features that we could add, an

[2019-10-20 01:10] Hadrien-Cornier commented on #20
It's never a waste to finetune the current imperfect model as it will always be available to boost by aggregation another potentially more powerful model.

[2019-10-21 00:46] #18 closed, assigned to nobody

[2019-10-21 16:04] #8 closed, assigned to nobody

[2019-10-23 14:29] arnaudstiegler commented on #17
To get back on this issue, for the sake of the first report, I have used a super simple architecture, because it is fast, but there is a real question about the architecture. The sequences are so long, that everything runs pretty slow. It is not impossible that a feedforward net with only dense layers can give us the best results. However, if we wanna go into the more sequential territories, we ca

[2019-10-23 14:34] arnaudstiegler opened #23 "README improvement"
Re-using the intro of the report as an introduction of the README. Would also be great to start thinking about repo structure before it gets out-of-hand

[2019-10-23 15:49] arthurherbout commented on #23
for the structure, I would suggest to do:
- data (already done)
- models
----------> model1
-------------------------> files for model1
----------> model2
-------------------------> files for model2
etc
I think we should not have raw files at the root of the directory.

[2019-10-24 05:11] Hadrien-Cornier opened #24 "Graph embedding for semantic features ?"
I read [Code2vec](https://arxiv.org/pdf/1709.07604.pdf) very closely. Code2vec is really amazing for the problem that we have and it's pretty obvious that we could just implement it and improve our current model.

However, there is clearly potential to improve current research on code embedding but doing relatively simple improvements to the model, in my opinion. First, there is clearly the fact t

[2019-10-24 18:02] arnaudstiegler commented on #24
@Hadrien-Cornier,

In terms of performance, I think the main bottleneck is not the algo we choose, but the fact that we have very long code files (which leads to huge ASTs). Maybe switching to function definitions could be our best option.

I don't think you can compare an attention layer and PCA. PCA is just a dimension reduction technique, whereas an attention-layer allows for contextual embeddi

[2019-10-24 19:49] #1 closed, assigned to arthurherbout, arnaudstiegler, redouane-dziri, corentinllorca

[2019-10-25 18:53] redouane-dziri commented on #14
Is this still relevant? @corentinllorca With Hadrien's experiments I feel like we don't need to train a model on our features alone anymore.
If not, let's close this.

[2019-10-25 19:00] corentinllorca commented on #14
I agree. Let's close it.

[2019-10-25 19:11] #14 closed, assigned to redouane-dziri, corentinllorca

[2019-10-25 19:16] redouane-dziri opened #27 "(2) Extract features from ASTs"
Will leverage existing tools to parse code into ASTs and extract properties of the trees to make additional features. Will add details to this as I look into 1) existing tools, 2) useful properties of ASTs, 3) how to leverage the tools with reasonable complexity.

By the end of this, should be able to generate additional features and explore them with regards to our classification pb.

Hoping this

[2019-10-25 19:20] redouane-dziri opened #28 "Continue literary review"
We should all keep reading on what other people are doing in similar problems and link articles here, with fresh ideas.

Hoping to get Yorgos' Deep Learning references sometime soon to get cracking on that front if it rocks anyone's boat :)

[2019-10-25 19:22] redouane-dziri commented on #27
suggested reading by @Hadrien-Cornier for future reference: https://github.com/phanein/deepwalk

[2019-10-27 01:31] arthurherbout opened #29 "Clustering as a data quality check"
In order to get an idea of the data quality, I think it could be interesting to look into unsupervised learning.

Clustering the files with extracted features might tell us whether the data is too simple and not representative.

[2019-10-27 17:21] arthurherbout commented on #2
Just a though:
All the features that appear as counts must, in my opinion, be divided by the number of lines of that file.
That way it becomes a density. I think that makes more sense than the raw number of occurences that will be biased towards long files.
I think it adds complexity to the classification task in a good way.

Let me know your thoughs on that

[2019-10-27 17:59] redouane-dziri commented on #2
Yes, thought about it and it should be done.
Although this rings false to me:

No guarantee that the result will be < 1 and the sum of features won't be = 1; it's rather a way to keep features within fairly low bounds

[2019-10-27 20:55] arthurherbout commented on #2
you're right, let us say intensive values :)

[2019-10-27 21:02] Hadrien-Cornier commented on #24
Instead of PCA, I was thinking more generally about linear algebra used for graph representation. In this case, the vector associated to the non zero eigenvalue of the Laplacian matrix of the tree can give you the direction of the optimal embedding for your graph. In this sense, The embedding of the graph is parameter-free as opposed to an attention mechanism. Instead of having to optimize a cost

[2019-10-29 17:54] arnaudstiegler opened #30 "Code Embedding Results Analysis"
Studying the results of the code embedding model, searching for patterns within false positives and false negatives, and find potential bias in the data

[2019-10-29 19:45] arthurherbout commented on #28
I have read papers on Co-Clustering. Co-Clustering is a field that tries to cluster unlabeled data but also the features used by the data point.
A good example is Text Documents: each document is composed of words. The idea is to cluster some documents together WITH some features. If we see that problem as a Bipartite Graph then it is a partitioning of the bipartite graph with a minimum cut.

Here

[2019-10-29 19:46] arnaudstiegler opened #31 "Issue with file name in aggregated files"
@corentinllorca, @redouane-dziri,
Not sure who's in charge for that, but file names for crypto-library are root paths, and it's not very convenient for QA'ing the results

[2019-10-29 20:15] arnaudstiegler commented on #30
Around 48 false positives / false negatives:
- 20 false negatives from others
- 13 false positives from crypto-competitions
- 15 false positives from crypto-library

Pretty much all of the false negatives are hashing/crypto functions that ended up labeled as non-crypto even though they are (files like sha, or containing bitwise operations).
Check out those examples: sha256.c, ffi_fnv.c

For crypto

[2019-10-29 23:35] Hadrien-Cornier commented on #31
Indeed
`test=pd.read_json('C:/Users/hadri/Documents/GitHub/crypto_code_detection/data/full_data.json')
print(test.iloc[0]['file_name'])
'/Users/red/Documents/CP/crypto_code_detection/data/crypto-library/files/nettle/eddsa-hash.c' `

[2019-10-30 02:27] Hadrien-Cornier commented on #24
Seen on https://github.com/eliben/pycparser/wiki/FAQ :

So I will look into Clang

[2019-10-30 04:29] Hadrien-Cornier commented on #28
Probably a must-read for everyone in the team :

CODE

https://arxiv.org/pdf/1904.03061.pdf

Will comment later with my thoughts

[2019-10-30 04:51] Hadrien-Cornier commented on #28
Github implementations of code embeddings that work for C/C++ that stand out from the review :

1. Using word2vec on paths from the [the control flow obtained by LLVM](https://eli.thegreenplace.net/2013/09/16/analyzing-function-cfgs-with-llvm) :

https://github.com/defreez-ucd/func2vec-fse2018-artifact

2. Using [Abstract Symbolic Traces](https://arxiv.org/pdf/1803.06686.pdf) :
https://github.com/

[2019-10-30 20:27] #17 closed, assigned to arthurherbout, arnaudstiegler

[2019-10-30 20:30] arnaudstiegler opened #33 "Benchmarking Detection Performance With WindRiver"
We have had our first results with our models, and as we are investigating about what they actually learned, having a regex benchmark would be a good way of assessing whether those models actually improve on the performance you could get with a regex.

If someone has the time to run a quick experiment to see what performance we get from WindRiver, that would be awesome!

[2019-10-31 20:46] arnaudstiegler commented on #30
Food for thoughts: should we also stratify on the nature of the doc? (.h vs .c file)

[2019-10-31 21:17] arnaudstiegler commented on #31
I fixed the file name for the crypto-library on my branch, will merge soon with newly generated full_data.json. However, couldn't run the train_test .py file for now so the train.json and test.json are still the old version on my branch

[2019-11-01 16:33] corentinllorca opened #35 "Improve quality of data"
We are having doubts about our dataset either not covering enough code file types, or being "too separable" between cryptographic and non cryptographic code. This might be because cryptographic code is inherently easy to separate from other types of code, or because our dataset hasn't been curated well enough. In order to test that, we will try to add specific categories of non-cryptographic code

[2019-11-01 16:42] corentinllorca commented on #35
Found: [GitHub Topics](https://github.com/topics) page, which groups repositories into "topics". This is very useful as it effectively allows us to look at each topic and hand-pick the repos that we want to integrate to our dataset. This would even allow us to include more crypto code, because there is a cryptoraphy topic (and also encryption, decryption), with more than 3000 repos.

[2019-11-01 17:04] corentinllorca commented on #35
Some nice topics that use bit-level operations but that don't seem to be cryptography:

- microcontrollers, IoT and all kinds of micro-OS
- (to be continued)

[2019-11-01 17:12] arnaudstiegler commented on #33
Just to make sure that the aim of that is clear, the main point of doing this is to see whether our models can do better than a regex search. If they can't, either or both the approach and the data are wrong.

Besides, it raises an interesting question: for what cases will regex search fails? (which are exactly the cases we are aiming at)

[2019-11-01 17:23] arnaudstiegler commented on #35
I think it is a very good idea to expand the dataset to make the problem more challenging. And based on what I've seen, I think we should write down some guidelines to manually label files so that we don't face the same issues we have with v1

A few random thoughts on that based on what I've seen from the model results:
- there were some crypto files incorrectly labelled in the non-crypto set: sho

[2019-11-01 18:14] redouane-dziri commented on #23
OK got started on the README, close this if no longer needed

[2019-11-01 18:18] redouane-dziri opened #36 "Parsing C/C++ Code"
There are several issues that mention topics relating to this, nice to have a centralized place to discuss this, don't want to miss any updates or comments on this.

[2019-11-01 18:21] redouane-dziri commented on #36
There have been many mentions of `pycparser` to generate ASTs of C code. The issue mentioned somewhere else is that it only works for **C** code. A bunch of our data is C++. Also read mentions of [AST Extracter gcc](https://github.com/alapha23/Ast-Extracter_gcc) but same problem, works only for C.

Not willing to take on the technical debt of trying different parsers for different type of code as

[2019-11-01 18:22] redouane-dziri commented on #27
Relating to 1), following #36 very closely

[2019-11-01 18:28] redouane-dziri commented on #31
The only issue is with files from `crypto-library` right?
@arnaudstiegler you're saying this is fixed locally for you then? :) If yes let us know when this is merged and fixed on master

[2019-11-01 18:33] redouane-dziri commented on #33
Will do, probably won't be as "quick" as one might think getting around their APIs with our wonderful file structure etc. haha but worth the time !

[2019-11-01 18:37] redouane-dziri commented on #35
Header files are problematic indeed, unsure if we would all agree on what h files should be considered crypto, good point @arnaudstiegler

[2019-11-01 18:42] corentinllorca commented on #36
I think that with the new data source that I'm starting to explore, we might not even need to include C++ or C# anymore, we could honestly do with just C and still have a very large dataset. This also goes for @arnaudstiegler's .h problem (unless we actually want to also include .h and C++ code for the sake of generalization of our model).

[2019-11-01 18:50] redouane-dziri commented on #33
So Wind River's [crypto detector](https://github.com/Wind-River/crypto-detector) is not packaged in any way, so the only way to add it to the repo is to actually copy-paste the whole thing within our repo... (and I would like to have it in the repo for the sake of reproducibility at least)

Should I add a folder `benchmark` and put it in there? I would also mention in the READMe a disclaimer that

[2019-11-01 19:12] redouane-dziri commented on #31
Ok so need to look at generations of test and train

[2019-11-01 20:01] arnaudstiegler opened #37 "Test on data slice (Open-SSL only files)"
Test our model on files that belong to open-ssl (both cryptos and non-cryptos). The underlying idea of this experimentis to see whether the model has really learn to flag crypto files, or maybe learn to flag files from a crypto-library (which is definitely not the same)

[2019-11-01 20:02] #30 closed, assigned to arnaudstiegler

[2019-11-02 21:00] #23 closed, assigned to nobody

[2019-11-02 21:14] redouane-dziri commented on #31
PR #38 should've fixed this, and I re-generated all the necessary jsons in it. Close this when you want.

[2019-11-02 21:15] redouane-dziri commented on #33
We decided to run Wind-River as is and extract information from the outputs in the repo only, rather than tweak their code or incorporate any of their stuff in here.
#38 addresses this issue

[2019-11-03 19:52] #31 closed, assigned to arnaudstiegler, redouane-dziri

[2019-11-03 20:02] arnaudstiegler commented on #37
Experiment: train on all data except files from wolfssl, test on wolfssl files including both crypto and non crypto files. Imbalance is less important than in the training set (here we have 55 crypto files for around 230 files)

Number of non-crypto classified as crypto: 25
Number of crypto classified as non-crypto: 24

Test Accuracy: 0.78
Test F1-score: 0.30
Test F2-score: 0.28
Test Precision: 0.

[2019-11-03 20:04] arnaudstiegler commented on #33
Would it be easy to reuse your code on another set of data (I'm thinking the full wolfssl package)?

[2019-11-03 20:15] redouane-dziri commented on #33
Yes :) would need to run Wind-River on it separately, add the output to the folder in `models`, change the `sources` array to incorporate it as a new source and from line `95` instead of reading `full_data.json` you would need to read the json generated from wolfssl instead

[2019-11-05 22:50] redouane-dziri commented on #36
This is more complicated than I thought. Running `pycparser`'s parser function on the string content of the ".c" files succeeds only on 54 of the strings out of 9,000+.
There are several issues that prevent it from completion. One of the biggest is the fact that the files often depend on header files and that this dependency ([On parsing C, type declarations and fake headers](https://eli.thegreenp

[2019-11-07 01:08] corentinllorca commented on #35
We have decided to keep all .c and .h files for certain repos. We need the .h files, otherwise the parsers to build ASTs won't function. This means that we'll have to be extra careful when labeling those files.

[2019-11-07 01:48] corentinllorca commented on #35
Change of approach: since hand-labeling the files seems like a very painful thing to do (but we might still do it later), we will hand-label the repos instead. There might be a high number of false positives here, but we'll look at that later on. The final JSON will look like this:

[code]

Source_repo is the url of the repo the file originally came from, source_username the username of that repo'

[2019-11-07 17:18] corentinllorca commented on #35
Pushed the extract_data script on new_dataset branch, and modified the train_test script so that it stratifies by label instead of data source. Please note that repos have one unique label. This will obviously lead to false positives, but we'll address that issue later. Things we now have to do and think about:

- Populate our dataset by listing the repos we want in the repos_labels.txt, with thei

[2019-11-07 20:54] arnaudstiegler commented on #35
@corentinllorca, I think the change of scope would be a problem for many reasons:
- how would you label a repo? Go over each file, see whether they are crypto or not and output a label for the entire repo? But then, what's the difference with doing individual files prediction if in the end, you end up predicting on a file level?
- based on my observations from crypto libraries, they contain huge c

[2019-11-14 16:54] arthurherbout commented on #29
Here are some results for the co-clustering approach.
The idea is to assign some features to some data points.
In this experiment I created two clusters:
- A, B: A is the cluster of data points, B is the corresponding cluster of features
- A_, B_: A_ is the cluster of data points, B_ is the corresponding cluster of features.

Results of spectral recursive embedding:
First cluster: A and B
number o

[2019-11-15 17:38] redouane-dziri commented on #33
You'll find findings and exploratory analysis of the benchmark's outputs in `models/benchmark/explore_benchmark_results.ipynb`.

Some key findings:

- nearly twice as many false positives as false negatives
- false positives have mislabeled files from `others`
- false positives have short headers that don't implement anything from `others`
- false positives have headers that only declare variables

[2019-11-17 16:38] #37 closed, assigned to arnaudstiegler

[2019-11-17 20:51] arnaudstiegler opened #41 "Function-level cryptography detection"
Got fed up with .c files which are a pain to parse. Looking into other languages (currently Python and Java)

[2019-11-17 21:04] arnaudstiegler commented on #41
Interesting to see how different crypto looks in python:
[code]
I doubt that a simple regex could deal with that

[2019-11-17 21:41] arnaudstiegler commented on #41
Some good points with crypto in python:
- seems harder to detect
- seen quite a lot of non-legit implementation of famous ciphers
- for small repos, the crypto part is usually entirely contained in one file
- can use the CodeSearchNet parser for python (still have to make it work though)

[2019-11-19 22:58] corentinllorca commented on #35
What to do next:

### Non-crypto code:

**List of topics (in progress)**:
- [x] OS code (BE CAREFUL: most OS repos actually contain crypto! So maybe download those as part of the crypto repos, not the non-crypto ones)
- [x] ML code
- [x] math code
- [ ] Web services systems code
- [x] Databases for C
- [ ] Streaming
- [x] Anything that uses hash functions
- [x] digital signal processing
- [x] Netw

[2019-11-19 23:12] Hadrien-Cornier commented on #41
I put a small C/C++ parser in crypto_code_detection/parsing_preprocessing that
- takes a directory as input
- outputs a dictionary with {File_name : [ function_name, line_start, line_end, length]}

[2019-11-19 23:31] arnaudstiegler commented on #41
@Hadrien-Cornier
Yeah, I saw that, but did you actually check the results? (I mean the function definition using the line given by your parser).
Because I saw a ton of comments on Stackoverflow about how unreliable regex is for parsing C code (and apparently C++ is worse)

Besides, I went throught the files, and it was really hard to come up with some rules to label the functions solely on the nam

[2019-11-20 21:53] redouane-dziri commented on #41
A simple regex would match on the first line :p

[2019-11-21 14:50] arnaudstiegler commented on #41
Haha, true if we use the function name, but the point of this is to work only with the function definition and use the function name for labeling. So you wouldn't be looking at the function name, and I doubt a simple regex would work for the rest

[2019-11-21 14:56] arnaudstiegler commented on #35
I would just advise avoiding downloading libsodium since it's already in there 😛 For the crypto libraries, check what's already in the repo before adding something

[2019-11-21 15:01] arnaudstiegler commented on #35
I'll do some non-crypto datasets, since I did crypto for the first batch of data

[2019-11-21 15:10] arthurherbout commented on #35
I will continue on the non-crypto stuff

[2019-11-21 15:12] arnaudstiegler commented on #35
The crypto datasets we have already extracted are:
- wolfssl
- openssl
- libsodium
- NaCL
- ARMmbed
- Nettle
- libgcrypt

From those repos, I extracted the ciphers mostly, usually stored in a crypto folder. If you wanna go over one more time, be my guest, but it would be more interesting to get different repos

[2019-11-21 16:17] arthurherbout commented on #35
I am currently dong the ML topic.
Any idea on the number of repos by topic?

[2019-11-21 17:11] arnaudstiegler commented on #35
I'll look into databases and some hashing things.
I've extracted:
- databases:
https://github.com/willemt/pearldb
https://github.com/infoforcefeed/OlegDB
https://github.com/Amaury/FineDB
https://github.com/liblogdb/liblogdb
https://github.com/scottrobertladd/itzam
https://github.com/adventure-db/adventure
- hash functions:
https://github.com/lemire/clhash
https://github.com/jwerle/murmurhash.c
htt

[2019-11-21 18:52] redouane-dziri commented on #35
Doing non-crypto:

- digital signal processing:
https://github.com/VersBinarii/dct
https://github.com/herrkaefer/AccelerateWatch
https://github.com/0x09/dspfun
https://github.com/mozanunal/SimpleDSP
https://github.com/GallaFrancesco/mvc
https://github.com/Davarco/Acoustic-MUSIC
https://github.com/sunnyks/FFT
https://github.com/SIP-Lab/iOS-TwoExternalMics
- networks:
https://github.com/libnet/libne

[2019-11-21 20:39] arthurherbout commented on #35
- machine learning:
https://github.com/dmlc/xgboost
https://github.com/microsoft/CNTK
https://github.com/mozilla/DeepSpeech
https://github.com/microsoft/LightGBM
https://github.com/apple/turicreate
https://github.com/horovod/horovod
https://github.com/catboost/catboost
https://github.com/google/mediapipe
https://github.com/mlpack/mlpack
https://github.com/aksnzhy/xlearn
https://github.com/shogun-t

[2019-12-05 18:07] arthurherbout commented on #35
I have labeled wolfssl, opensll and the OS repos given the much more precise definition of crypto-code.
I still have to do the other crypto libraries